USE [master]
GO
/****** Object:  Database [HappyProgrammingDatabase]    Script Date: 19/09/2025 19:24:35 ******/
CREATE DATABASE [HappyProgrammingDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HappyProgrammingDatabase_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KHANH\MSSQL\DATA\HappyProgrammingDatabase.mdf' , SIZE = 98304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HappyProgrammingDatabase_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KHANH\MSSQL\DATA\HappyProgrammingDatabase.ldf' , SIZE = 67904KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HappyProgrammingDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HappyProgrammingDatabase]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 19/09/2025 19:24:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[AttendID] [int] IDENTITY(1,1) NOT NULL,
	[RequestSlotItem] [int] NULL,
	[slotDate] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[AttendID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CV]    Script Date: 19/09/2025 19:24:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CV](
	[CVID] [int] IDENTITY(1,1) NOT NULL,
	[MentorID] [int] NULL,
	[Education] [nvarchar](50) NULL,
	[Experience] [nvarchar](max) NULL,
	[Activity] [nvarchar](max) NULL,
	[ProfessionIntroduction] [nvarchar](max) NULL,
	[Certificate] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[JobProfession] [nvarchar](50) NULL,
	[YearOfExperience] [int] NULL,
	[ServiceDescription] [nvarchar](30) NULL,
	[Status] [nvarchar](20) NULL,
	[Framework] [nvarchar](30) NULL,
	[Avatar] [varbinary](max) NULL,
	[Price] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[CVID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mentee]    Script Date: 19/09/2025 19:24:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mentee](
	[MenteeID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NULL,
	[Avatar] [varbinary](max) NULL,
	[Username] [nvarchar](30) NOT NULL,
	[CreateDate] [date] NULL,
	[Phone] [nvarchar](15) NULL,
	[Address] [nvarchar](max) NULL,
	[DateOfBirth] [date] NULL,
	[FullName] [nvarchar](50) NULL,
	[Gender] [nvarchar](10) NULL,
	[Status] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK__Mentee__5FE290055804BC67] PRIMARY KEY CLUSTERED 
(
	[MenteeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mentor]    Script Date: 19/09/2025 19:24:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mentor](
	[MentorID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NULL,
	[Username] [nvarchar](30) NOT NULL,
	[CreateDate] [date] NULL,
	[Phone] [nvarchar](15) NULL,
	[Address] [nvarchar](max) NULL,
	[DateOfBirth] [date] NULL,
	[FullName] [nvarchar](50) NULL,
	[Gender] [nvarchar](10) NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MentorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordReset]    Script Date: 19/09/2025 19:24:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordReset](
	[Username] [nvarchar](30) NOT NULL,
	[TemporaryPassword] [nvarchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 19/09/2025 19:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[RequestID] [int] NULL,
	[PaymentDate] [datetime] NULL,
	[TotalAmount] [float] NULL,
	[Status] [nvarchar](20) NULL,
	[Sender] [nvarchar](30) NULL,
	[Receiver] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rate]    Script Date: 19/09/2025 19:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rate](
	[MentorID] [int] NULL,
	[MenteeID] [int] NULL,
	[CreateDate] [date] NULL,
	[Status] [nvarchar](20) NULL,
	[Comment] [varchar](max) NULL,
	[Rate] [int] NULL,
	[RequestID] [int] NULL,
	[RateID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request]    Script Date: 19/09/2025 19:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[MentorID] [int] NULL,
	[MenteeID] [int] NULL,
	[Price] [float] NULL,
	[Note] [varchar](max) NULL,
	[CreateDate] [date] NULL,
	[Status] [nvarchar](20) NULL,
	[Title] [nvarchar](50) NULL,
	[Framework] [nvarchar](30) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[SkillID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestSlotItem]    Script Date: 19/09/2025 19:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestSlotItem](
	[RequestID] [int] NOT NULL,
	[SlotID] [int] NOT NULL,
	[RequestSlotItem] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestSlotItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 19/09/2025 19:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](10) NULL,
	[CreateDate] [date] NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skill]    Script Date: 19/09/2025 19:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skill](
	[SkillID] [int] IDENTITY(1,1) NOT NULL,
	[SkillName] [nvarchar](50) NULL,
	[CreateDate] [date] NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](20) NULL,
	[Img] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[SkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SkillList]    Script Date: 19/09/2025 19:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkillList](
	[SkillListID] [int] IDENTITY(1,1) NOT NULL,
	[SkillID] [int] NULL,
	[MentorID] [int] NULL,
	[Rating] [int] NULL,
	[CVID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SkillListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slot]    Script Date: 19/09/2025 19:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slot](
	[SlotID] [int] IDENTITY(1,1) NOT NULL,
	[MentorID] [int] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[DayInWeek] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[CVID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 19/09/2025 19:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Username] [nvarchar](30) NOT NULL,
	[RoleID] [int] NULL,
	[Status] [nvarchar](20) NULL,
	[CreateDate] [date] NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wallet]    Script Date: 19/09/2025 19:24:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wallet](
	[WalletID] [int] IDENTITY(1,1) NOT NULL,
	[Balance] [float] NULL,
	[Username] [nvarchar](30) NULL,
	[Hold] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[WalletID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([RequestSlotItem])
REFERENCES [dbo].[RequestSlotItem] ([RequestSlotItem])
GO
ALTER TABLE [dbo].[CV]  WITH CHECK ADD FOREIGN KEY([MentorID])
REFERENCES [dbo].[Mentor] ([MentorID])
GO
ALTER TABLE [dbo].[Mentee]  WITH CHECK ADD  CONSTRAINT [FK__Mentee__RoleID__403A8C7D] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[Mentee] CHECK CONSTRAINT [FK__Mentee__RoleID__403A8C7D]
GO
ALTER TABLE [dbo].[Mentee]  WITH CHECK ADD  CONSTRAINT [FKMenteeUsername] FOREIGN KEY([Username])
REFERENCES [dbo].[User] ([Username])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Mentee] CHECK CONSTRAINT [FKMenteeUsername]
GO
ALTER TABLE [dbo].[Mentor]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[Mentor]  WITH CHECK ADD  CONSTRAINT [FKMentorUsername] FOREIGN KEY([Username])
REFERENCES [dbo].[User] ([Username])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Mentor] CHECK CONSTRAINT [FKMentorUsername]
GO
ALTER TABLE [dbo].[PasswordReset]  WITH CHECK ADD  CONSTRAINT [FK_PasswordReset_User] FOREIGN KEY([Username])
REFERENCES [dbo].[User] ([Username])
GO
ALTER TABLE [dbo].[PasswordReset] CHECK CONSTRAINT [FK_PasswordReset_User]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([RequestID])
REFERENCES [dbo].[Request] ([RequestID])
GO
ALTER TABLE [dbo].[Rate]  WITH CHECK ADD  CONSTRAINT [FK__Rate__MenteeID__59FA5E80] FOREIGN KEY([MenteeID])
REFERENCES [dbo].[Mentee] ([MenteeID])
GO
ALTER TABLE [dbo].[Rate] CHECK CONSTRAINT [FK__Rate__MenteeID__59FA5E80]
GO
ALTER TABLE [dbo].[Rate]  WITH CHECK ADD  CONSTRAINT [FK__Rate__MentorID__59063A47] FOREIGN KEY([MentorID])
REFERENCES [dbo].[Mentor] ([MentorID])
GO
ALTER TABLE [dbo].[Rate] CHECK CONSTRAINT [FK__Rate__MentorID__59063A47]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK__Request__MenteeI__4AB81AF0] FOREIGN KEY([MenteeID])
REFERENCES [dbo].[Mentee] ([MenteeID])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK__Request__MenteeI__4AB81AF0]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD FOREIGN KEY([MentorID])
REFERENCES [dbo].[Mentor] ([MentorID])
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Skill] FOREIGN KEY([SkillID])
REFERENCES [dbo].[Skill] ([SkillID])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Skill]
GO
ALTER TABLE [dbo].[RequestSlotItem]  WITH CHECK ADD  CONSTRAINT [FK_RequestSlotItem_Request] FOREIGN KEY([RequestID])
REFERENCES [dbo].[Request] ([RequestID])
GO
ALTER TABLE [dbo].[RequestSlotItem] CHECK CONSTRAINT [FK_RequestSlotItem_Request]
GO
ALTER TABLE [dbo].[RequestSlotItem]  WITH CHECK ADD  CONSTRAINT [FK_RequestSlotItem_Slot] FOREIGN KEY([SlotID])
REFERENCES [dbo].[Slot] ([SlotID])
GO
ALTER TABLE [dbo].[RequestSlotItem] CHECK CONSTRAINT [FK_RequestSlotItem_Slot]
GO
ALTER TABLE [dbo].[SkillList]  WITH CHECK ADD FOREIGN KEY([MentorID])
REFERENCES [dbo].[Mentor] ([MentorID])
GO
ALTER TABLE [dbo].[SkillList]  WITH CHECK ADD FOREIGN KEY([SkillID])
REFERENCES [dbo].[Skill] ([SkillID])
GO
ALTER TABLE [dbo].[Slot]  WITH CHECK ADD  CONSTRAINT [FK_Mentor] FOREIGN KEY([MentorID])
REFERENCES [dbo].[Mentor] ([MentorID])
GO
ALTER TABLE [dbo].[Slot] CHECK CONSTRAINT [FK_Mentor]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[Wallet]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[User] ([Username])
GO
USE [master]
GO
